body, html {
    -webkit-user-select: none;
    user-select: none;
    overflow: none;
    font-family: 'Minecraft', sans-serif;
}

.dynamic-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080808;
    z-index: -1; 
}

.title {
    text-align: center;
    color: whitesmoke;
    animation: glow 2s ease-in-out infinite alternate;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1; 
    background-color: rgba(24, 24, 24, 0.836);
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
}

.menu-icon {
    z-index: 5; 
    font-size: 30px;
    cursor: pointer;
    position: flex;
    margin-left: 10px;
    color: white;
    transition: transform 0.3s ease;
}

.menu-icon:hover {
    transform: scale(1.15);
}

.menu-language, .menu-developer {
    font-size: 20px;
    font-family: 'Minecraft', sans-serif;
    color: white;
    white-space: nowrap;
}

.developer {
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to right, orange, red, orange, yellow, orange);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientShiftLeft 5s infinite linear;
}

.menu-bugs {
    font-size: 16px;
    color: white;
    white-space: nowrap;
    text-align: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001; 
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; 
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn {
    margin-top: 10px;
    cursor: pointer;
    transition: color 0.5s ease, transform 0.5s ease;
    color: gray;
}

.closebtn:hover {
    transform: scale(1.05);
    color: white;
}

.menu-section {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px; 
}

.language-select {
    border-color: white;
    font-family: 'Minecraft', sans-serif;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 8px;
    padding-right: 1px;
    white-space: nowrap;
}

#language-select::part(display-input) {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    max-width: 60px;
  }

option:nth-child(1), option:nth-child(2), option:nth-child(3) {
    font-family: 'Minecraft', sans-serif;
    background-color: black;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    background-color: rgba(24, 24, 24, 0.836);
    border-radius: 20px;
    flex-direction: column;
}

.google-btn, .microsoft-btn {
    display: flex;
    min-width: 290px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: #252525;
    border: solid 1px #474747;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
    position: relative;
}

.google-btn img, .microsoft-btn img {
    width: 30px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.google-btn span, .microsoft-btn span {
    flex-grow: 1;
    text-align: center;
}

.microsoft-btn {
    margin-top: 5px;
}

.login-code, .login-info {
    color: rgb(0, 153, 255);
    font-family: 'Minecraft', sans-serif;
    font-size: 25px;
    margin-bottom: 5px;
    text-align: center;
}

.login-info {
    color: white;
    margin-bottom: 30px;
    font-size: 20px;
}

.login-text {
    color: white;
    font-size: 17px;
    font-family: 'Minecraft', sans-serif;
}

.google-btn:hover, .microsoft-btn:hover {
    transform: scale(1.05);
}

.pfp {
    border-radius: 50%;
    width: 35px;
    margin-left: auto;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.pfp:hover {
    transform: scale(1.1);
}

@keyframes glow {
    from {
      text-shadow: 0 0 20px black
    }
    to {
      text-shadow: 0 0 5px white
    }
}

@keyframes gradientShiftLeft {
    0% {
      background-position: 200% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.google-btn, .microsoft-btn, .google-btn:hover, .microsoft-btn:hover {
background: -moz-linear-gradient(-45deg,  #252525 0%, #252525 40%, #474747 50%, #252525 60%, #252525 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#252525), color-stop(40%,#252525), color-stop(50%,#474747), color-stop(60%,#252525), color-stop(100%,#252525));
background: -webkit-linear-gradient(-45deg,  #252525 0%,#252525 40%,#474747 50%,#252525 60%,#252525 100%);
background: -o-linear-gradient(-45deg,  #252525 0%,#252525 40%,#474747 50%,#252525 60%,#252525 100%);
background: -ms-linear-gradient(-45deg,  #252525 0%,#252525 40%,#474747 50%,#252525 60%,#252525 100%);
background: linear-gradient(135deg,  #252525 0%,#252525 40%,#474747 50%,#252525 60%,#252525 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#252525',GradientType=1 );
background-position:0px;
background-size:300%;

animation: light 3s infinite;
-webkit-animation: light 3s infinite;
}

@keyframes light {
0% {
    background-position:-600px; 
}
100% { 
    background-position:0px; 
}
}
    
@-webkit-keyframes light {
0% {
    background-position:-600px; 
}
100% { 
    background-position:0px; 
}
}